* {
    margin: 0;
    padding: 0;
    font-family: 'merriweather', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #620462;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar {
    height: 15%;
    padding: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #A47CA4;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
}

.col {
    flex-basis: 50%;
}

h1 {
    color: white;
    font-size: 25px;
}

p {
    color: white;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
}

.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    text-align: justify;
}

.card:hover {
    transform: translate(-10px);
}

h5 {
    color: white;
    text-shadow: 0 0 5px #999;
}

.card p {
    text-shadow: 0 0 15px #000;
    font-size: 12px;
}

.card-body {
    align-content: center;
}

.social-link img {
    height: 25px;
    margin: 25px;
    cursor: pointer;
}

.social-link {
    text-align: center;
}

.jumbotron {
    width: 100%;
    height: 100%;
    background-color: #620462;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    text-align: center;
    clear: both;
    bottom: 0;
    padding: 20px;
    color: #A47CA4;
    font-weight: bold;
}

.jumbotron p {
    text-align: center;
}

.page-section {
    padding: 8rem 0;
}

.button-wa {
    background-color: #C0326A !important;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25%;
    outline: none;
    border: none;
}

.button-wa:hover {
    font-weight: bold;
    background-color: #620462 !important;
    color: white;
    cursor: pointer;
}

.button-pesan {
    background-color: #6BAA3A;
    padding: 60px;
}

.content {
    background-color: #A47CA4;
    padding: 100px;
    padding-left: 8%;
    padding-right: 8%;
    height: 200px;
    line-height: 1.6;
}

.content. h2 {
    text-align: left;
    width: 25%;
}

.blockquote p {
    display: inline-block;
    margin-left: 25%;
    line-height: 1.6;
    text-align: justify center;
    font-size: 24px;
    color: white;
}

table {
    font-size: 18px;
}

@media only screen and (max-width: 600px;
) {
    #content {
        width: 100%;
    }
    nav {
        width: 100%;
    }
}